@import "../../../styles/theme";

.example-page {
  font-size: $font_size_1_6;
  line-height: $line_height_2_4;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;

  h2 {
    display: inline-block;
    vertical-align: top;
  }

  a {
    color: $color_primary_20809e;
  }

  ul {
    margin: $spacing_1_2 0;
  }

  li {
    margin-bottom: $spacing_0_8;
  }

  .tip {
    display: inline-block;
    border-radius: $border_radius_1_6;
    font-size: $font_size_1_2;
    line-height: $line_height_1_6;
    font-weight: $font_bold;
    background: $color_purple_dac3f6;
    color: $color_secondary_pressed_6c16d9;
    padding: $spacing_0_4 $spacing_1_2;
    margin-right: $spacing_0_8;
    vertical-align: top;
  }

  .tip-wrapper {
    font-size: $font_size_1_2;
    line-height: $spacing_2_4;
    margin: $spacing_4_0 0;

    svg {
      display: inline-block;
      height: $spacing_1_2;
      width: $spacing_1_2;
      margin: $spacing_0_4 $spacing_0_4 0;
      vertical-align: top;

      path {
        fill: $color_primary_20809e;
      }
    }
  }
}
