@import "../../../styles/theme";

.consultation-card {
  padding: $spacing_0_8 $spacing_1_6;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  border-radius: $border_radius_1_6;

  .now-text {
    color: $color_secondary_9749fa;
    font-weight: $font_bold;
  }

  .no-booking-text {
    margin-bottom: $spacing_1_6;
  }

  .specialist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $spacing_0_8;

    .specialist-image {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      margin-right: $spacing_0_8;
    }
  }

  &__button {
    margin-top: $spacing_0_8;
  }
}
