.collapsible {
  width: 100%;
  cursor: pointer;

  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .icon--arrow-chevron-down {
      transition: transform 0.3s ease-in-out;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  &--expanded {
    & > .collapsible__heading .icon--arrow-chevron-down {
      transform: rotate(180deg);
    }

    .collapsible__content {
      max-height: 1000px;
      transition: max-height 0.7s ease-in-out;
    }
  }
}
