@import "../../../styles/theme";

.provider-overview {
  display: flex;
  flex-direction: row;
  padding: $spacing_0_8 $spacing_1_6;
  align-items: center;
  width: calc(34.3rem - 2 * $spacing_1_6);

  @media screen and (min-width: $screen_lg) {
    width: calc(36.8rem - 2 * $spacing_1_6);
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: $spacing_1_6;

    .text {
      color: $color_primary_20809e;
      font-weight: $font_bold;
    }
  }
}
