@import "../../../styles/theme";

.cookie-banner {
  position: fixed;
  bottom: $spacing_2_0;
  width: 90%;
  z-index: 10001;
  padding: $spacing_2_0;
  border-radius: $border_radius_4_0;

  @media screen and (min-width: $screen_md) {
    left: auto;
    right: $spacing_10_0;
    transform: none;
    width: 25%;
  }

  & .toggle-wrapper {
    margin-top: $spacing_1_2;
  }

  & p {
    margin-top: $spacing_1_2;

    & a {
      @include themify($themes, "color", "color_6a4ffb_8c90eb");
      text-decoration: underline;
    }

    & .page__cookie-policy-banner__link--hc {
      color: $color_white_ff;
    }
  }

  &__buttons {
    margin-top: $spacing_1_8;
    display: flex;
    justify-content: center;
    width: 100%;

    & .btn:nth-of-type(1) {
      margin-right: $spacing_1_2;
    }
  }
}
