@import "../../../styles/theme";

.btn {
  border: 0;
  border-radius: $border_radius_1_6;
  cursor: pointer;
  font-weight: $font_bold;
  font-size: $font_size_1_2;
  line-height: $line_height_2_2;
  box-shadow: $shadow_1;
  text-align: center;
  display: block;
  width: auto;

  &:hover,
  &:active {
    font-weight: $font_extra_bold;
  }

  //Sizes
  &--xs {
    min-width: 8.9rem;
    padding: $spacing_0_2 $spacing_1_1;
  }

  &--sm {
    min-width: 14.8rem;
    padding: $spacing_0_4 $spacing_1_6;
    border-radius: $border_radius_4_8;
  }

  &--md {
    min-width: 16.8rem;
    padding: $spacing_0_4 $spacing_1_6;
  }

  &--lg {
    padding: $spacing_1_3 $spacing_2_4;
    border-radius: $border_radius_4_0;
    min-width: 34.3rem;
    font-size: $font_size_1_6;
    font-weight: $font_semi_bold;
  }

  //Modes: Primary, Secondary, Ghost and Emergency
  &--primary {
    background-color: $color_primary_20809e;
    color: $color_white_ff;

    &:hover {
      background-color: $color_primary_pressed_156f8c;
    }

    &:active {
      background-color: $color_primary_pressed_0c5f7a;
    }

    &.btn--purple {
      background-color: $color_secondary_9749fa;

      &:hover {
        background-color: $color_secondary_pressed_7f2ee5;
      }

      &:active {
        background-color: $color_secondary_pressed_6c16d9;
      }
    }
  }

  &--secondary {
    background-color: $color_white_ff;
    color: $color_primary_20809e;

    &:hover {
      border: 0.1rem solid $color_primary_pressed_156f8c;
      color: $color_primary_pressed_156f8c;
    }

    &:active {
      border: 0.1rem solid $color_primary_pressed_0c5f7a;
      color: $color_primary_pressed_0c5f7a;
    }

    &.btn--purple {
      color: $color_secondary_9749fa;
      background-color: $color_white_ff;

      &:hover {
        border: 0.1rem solid $color_secondary_pressed_7f2ee5;
        color: $color_secondary_pressed_7f2ee5;
      }

      &:active {
        border: 0.1rem solid $color_secondary_pressed_6c16d9;
        color: $color_secondary_pressed_6c16d9;
      }
    }
  }

  &--ghost {
    background-color: transparent;
    color: $color_primary_20809e;
    box-shadow: none;

    &:hover {
      color: $color_primary_pressed_156f8c;
    }

    &:active {
      color: $color_primary_pressed_0c5f7a;
    }

    &.btn--purple {
      color: $color_secondary_9749fa;

      &:hover {
        color: $color_secondary_pressed_7f2ee5;
      }

      &:active {
        color: $color_secondary_pressed_6c16d9;
      }
    }
  }

  &--text {
    background-color: transparent;
    color: $color_primary_20809e;
    box-shadow: none;
    padding: 0;

    &:hover {
      color: $color_primary_pressed_156f8c;
    }

    &:active {
      color: $color_primary_pressed_0c5f7a;
    }
  }

  & > .btn-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--disabled {
    opacity: 0.6;
  }

  &--web {
    padding: $spacing_1_3 $spacing_2_4;
    border-radius: $border_radius_4_0;
  }
}
