@import "../../../styles/theme";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34.3rem;

  & .icon {
    cursor: pointer;
  }

  &__month-selector {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $spacing_2_8;
    color: $color_black_37;
    @include themifyCustom(
      $themes,
      "color",
      "color_black_37",
      "color_3d527b_white"
    );
  }

  &__week-selector {
    width: 34.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__day-of-week {
    text-align: center;
    width: 4.8rem;
    @include themifyCustom(
      $themes,
      "color",
      "color_black_37",
      "color_3d527b_white"
    );

    &:nth-of-type(6) > &__date,
    &:nth-of-type(7) > &__date {
      color: $color_gray_92989b;
      @include themifyCustom(
        $themes,
        "color",
        "$color_gray_92989b",
        "color_gray_d2dcde"
      );
    }

    &--current {
      border-radius: $border_radius_0_8;
      background-color: $color_green_c1eaea;

      @include themifyCustom($themes, "color", "color_black_37", "#fff");

      &--dark {
        color: $color_black_37;
      }
    }
  }

  &__month-name--dark {
    color: $color_white_ff;
  }
}
