@import "../../../styles/theme";

.access-token-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: $spacing_1_3;
  margin-bottom: $spacing_3_6;

  &__label {
    padding-bottom: $spacing_1_3;
  }

  &__copy-icon {
    margin-left: $spacing_1_2;
    cursor: pointer;
  }

  &__copy-text {
    align-items: center;
    display: flex;
    // margin-left: $spacing_1_6;
    &__action {
      animation-duration: 1s;
      animation-name: rightleft;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes rightleft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
