@import "../../../styles/theme";

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    margin-left: $spacing_0_8;
  }

  & > input:disabled + .label {
    opacity: 0.6;
    cursor: default;
  }

  &:hover {
    & > input:enabled {
      border: $color_secondary_9749fa 0.15rem solid;
    }
  }

  & > input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    border: $color_gray_92989b 0.15rem solid;
    cursor: pointer;
    height: 2rem;
    width: 2rem;

    &.checked {
      align-items: center;
      background-color: $color_secondary_9749fa;
      border: 0;
      display: flex;
      justify-content: center;

      + .label {
        color: $color_blue_3d527b;
      }
    }

    &.checked::before {
      content: "";
      width: 0.4rem;
      height: 0.9rem;
      border: solid $color_white_ff;
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg);
      margin-bottom: 0.3rem;
    }
  }
}
