@import "../../../styles/theme";

.example-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    display: inline-block;
    vertical-align: top;
  }

  h3 {
    padding-left: $spacing_0_8;
    padding-bottom: 0;
    display: inline-block;
    vertical-align: top;
  }

  button + button {
    margin-left: $spacing_1_2;
  }

  .welcome {
    font-size: $font_size_1_2;
    padding-right: $spacing_1_2;
  }
}
