@import "../../../styles/theme";

.message-date {
  background-color: $color_green_f4f7fe;
  padding: $spacing_0_8 $spacing_3_2;
  border-radius: $border_radius_1_6;
  width: auto;
  margin: 0 auto;
  margin-bottom: $spacing_1_2;

  &--dark {
    background-color: $color_black_37;
  }
}

.system-message {
  align-items: center;
  align-self: center;
  border-radius: $border_radius_2_4;
  border: 0.1rem solid $color_primary_20809e;
  display: flex;
  flex-direction: row;
  padding: $spacing_1_4 $spacing_1_6;
  text-align: left;
  width: calc(36.8rem - 2 * $spacing_2_4);

  @media screen and (max-width: $screen_md) {
    width: calc(24rem - 2 * $spacing_2_4);
  }

  &__text-container {
    margin-left: $spacing_1_6;

    &__title.small-text {
      color: $color_primary_20809e;
      font-weight: $font_bold;
    }
  }
  &__time {
    align-self: center;
    padding-left: 0.6rem;
  }
}
