@import "../../../styles/theme";

.icon-wrapper {
  cursor: pointer;
  width: 2.6rem;
  right: 0;
  margin-right: $spacing_1_6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
