@import "../../../styles/theme";

.scrollable-table {
  width: 100%;
  overflow: auto;
}

.table {
  min-width: 100rem;
  width: 100%;

  & th {
    padding-right: $spacing_1_0;
    right: 0;

    &--sticky:last-of-type {
      position: sticky;
      background-color: $color_gray_66768d;
    }

    & .icon {
      margin-left: $spacing_0_4;
      cursor: pointer;
    }
  }

  &__heading {
    background-color: $color_gray_66768d;
    color: $color_gray_ea;

    &-container {
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      &--centered {
        justify-content: center;
      }
    }
  }

  &__container {
    padding-top: $spacing_3_6;
    padding-bottom: $spacing_9_0;

    &__search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: $spacing_2_4;
      padding-bottom: $spacing_2_4;

      &__buttons-container {
        display: flex;
        justify-content: flex-end;
        margin-top: $spacing_2_0;

        @media screen and (min-width: $screen-md) {
          margin-top: 0;
        }

        & button {
          margin-right: $spacing_1_0;
        }
      }

      &__third-button {
        margin-top: $spacing_1_4;
      }

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__filters {
      display: flex;
      flex-direction: row;
      margin-bottom: $spacing_1_2;

      & .label-component {
        margin-right: 12px;
      }
    }

    &__note {
      color: $color_gray_a6b4b8;
      text-align: left;
      margin-bottom: $spacing_1_2;
    }
  }

  &__body {
    & p {
      color: $color_blue_3d527b;
    }

    &__tr {
      position: relative;
    }

    & tr:nth-child(even) {
      @include themifyCustom(
        $themes,
        "background-color",
        "color_gray_ea",
        "color_gray_344054"
      );
    }

    &__no-data {
      padding-top: $spacing_2_4;
    }
  }

  &__td {
    border-bottom: 1px solid $color_gray_a6b4b8;
    @include themifyCustom(
      $themes,
      "border-color",
      "color_gray_a6b4b8",
      "color_black_37"
    );
    padding-left: $spacing_1_4;
    padding-right: $spacing_1_4;
    padding-bottom: $spacing_1_8;
    padding-top: $spacing_1_4;

    &--sticky:last-child {
      position: sticky;
      right: 0;
    }

    & p {
      text-align: left;

      &.centered {
        text-align: center;
      }
    }
  }

  &-icon {
    background-color: $color_white_ff;
    // border-bottom: unset;
    cursor: pointer;
    margin-top: $spacing_1_0;
    padding: $spacing_1_2;
    position: sticky;
    right: 0;
    // z-index: 999;

    &--even {
      background-color: $color_gray_ea;
    }

    &__content {
      position: relative;
    }

    &__menu {
      position: fixed;
      right: $spacing_1_6;
      border-radius: $border_radius_2_4;
      background-color: $color_white_ff;
      box-shadow: $shadow_1;
      padding: $spacing_1_8;
      margin-top: $spacing_5_0;
      z-index: $z_index_emergency_button;

      &__option {
        align-items: center;
        display: flex;
        cursor: pointer;
        width: auto;

        &:not(:last-of-type) {
          margin-bottom: $spacing_1_2;
        }

        & .icon {
          margin-right: $spacing_1_8;
        }
      }
    }
  }
}
