@import "../../../styles/theme";

.rating {
  &__label {
    color: $color_blue_3d527b;
    margin-bottom: $spacing_0_4;
    display: block;
  }

  &__stars-container {
    display: flex;
    flex-direction: row;
    &__star {
      margin-left: $spacing_1_0;
    }

    &__star:first-child {
      margin-left: 0;
    }
  }
}
