@import "../../../styles/theme";

.rating {
  &__label {
    color: $color_blue_3d527b;
    font-weight: $font_medium_bold;
    @include themify($themes, "color", color_text_main);
    margin-bottom: $spacing_0_4;

    &--dark {
      color: $color_primary_20809e;
    }

    &--hc {
      color: #ffff00;
    }
  }

  &__stars-container {
    display: flex;
    flex-direction: row;
    &__star {
      margin-left: $spacing_1_0;
    }

    &__star:first-child {
      margin-left: 0;
    }
  }
}
