@import "../../../styles/theme";

.slider {
  text-align: center;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__text {
    &--min {
      margin-right: $spacing_1_0;
    }
    &--max {
      margin-left: $spacing_1_0;
    }
  }
}
