@import "../../../styles/theme";

.dropdown-with-label {
  &__label {
    padding-bottom: $spacing_0_4;
    color: $color_blue_3d527b;
    @include themify($themes, "color", color_3d527b_20809e);

    &--dark {
      color: $color_primary_20809e;
    }
  }
}
