@import "../../../styles/theme";

.dropdown-with-label {
  // width: 34.3rem;
  text-align: left;
  position: relative;

  // @media screen and (min-width: $screen-lg) {
  //   width: 36.8rem;
  // }

  .label {
    color: $color_blue_3d527b;
    font-weight: $font_medium_bold;
    @include themify($themes, "color", "color_text_main");
    margin-bottom: $spacing_0_4;

    &--dark {
      color: $color_primary_20809e;
    }

    &--hc {
      color: #ffff00;
    }
  }
}
