@import "../../../styles/theme";

.ReactModal__Overlay.base-modal__overlay.password-modal {
  z-index: calc(#{$z_index_modal} + 7);
}

.password-modal {
  background-color: black;

  &__input {
    margin: 1rem;
  }

  &__submit-button {
    visibility: hidden;
  }
}
