@import "../../../styles/theme";

.notification {
  padding: $spacing_1_6;
  width: calc(37.7rem - 2 * $spacing_1_6);
  cursor: pointer;

  @media screen and (min-width: $screen_lg) {
    width: calc(56rem - 2 * $spacing_1_6);
  }

  &-new {
    background: $color_green_e6f1f4;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__icon {
      margin-right: $spacing_1_6;
    }

    &__information-container {
      width: 100%;

      &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-name {
          display: flex;
          flex-direction: row;
          align-items: center;

          .small-text {
            color: $color_secondary_9749fa;
            font-weight: $font_bold;
            margin-right: $spacing_0_4;
          }

          > div {
            width: 0.9rem;
            height: 0.9rem;
            background-color: $color_secondary_9749fa;
            border-radius: $border_radius_1_6;
          }
        }
      }
    }

    &__description {
      max-width: 80%;
      margin-top: $spacing_0_4;
      text-align: left;
    }
  }
}
