@import "./normalize";
@import "./variables";
@import "./mixins";

html {
  font-size: 62.5%; /* 1rem = 10px */

  /* Fix IOS 11 Safari - problems with the Notch */
  @supports (padding: max(0px)) {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

body {
  font-family: $font_family;
  font-weight: $font_medium;
  font-size: $font_size_1_6;
  line-height: $line_height_2_4;
  color: $color_gray_66768d;
  -webkit-tap-highlight-color: $color_transparent; /* Remove the tap highlight */
  @include scrollbar-primary;

  @media screen and (min-width: $screen-lg) {
    font-size: $font_size_2_0;
    line-height: $line_height_2_8;
    letter-spacing: -0.02rem;
  }
}

.Toastify__toast {
  border-radius: 1.2rem !important;
  color: $color_gray_66768d !important;
}

.Toastify__toast-body {
  font-size: $font_size_2_0 !important;
}

.Toastify__progress-bar--default {
  background: $gradient_toastify !important;
}

p,
ul,
h1,
h2,
h3,
h4 {
  margin: 0; /* Remove the default margin for all header elements */
}

p {
  @include themify($themes, "color", "color_66768d_c1d7e0");
}

h1,
h2,
h3,
h4 {
  font-weight: $font_semi_bold;
  color: $color_blue_3d527b;
}

h1 {
  font-size: $font_size_4_0;
  line-height: $line_height_4_8;

  @media screen and (min-width: $screen-lg) {
    font-size: $font_size_6_4;
    line-height: $line_height_7_7;
    letter-spacing: 0.02rem;
  }
}

h2 {
  font-size: $font_size_3_2;
  line-height: $line_height_3_8;

  @media screen and (min-width: $screen-lg) {
    font-size: $font_size_4_0;
    line-height: $line_height_4_8;
  }
}

h3 {
  font-size: $font_size_2_0;
  line-height: $line_height_2_4;

  @media screen and (min-width: $screen-lg) {
    font-size: $font_size_3_2;
    line-height: $line_height_3_8;
  }
}

h4 {
  font-size: $font_size_2_0;
  line-height: $line_height_2_4;
}

.paragraph,
.text,
.small-text {
  font-weight: $font_medium;
}

.paragraph {
  font-size: $font_size_1_6;
  line-height: $line_height_2_4;

  @media screen and (min-width: $screen-lg) {
    font-size: $font_size_2_0;
    line-height: $line_height_2_8;
    letter-spacing: -0.02rem;
  }
}

.text {
  font-size: $font_size_1_6;
  line-height: $line_height_2_4;
}

.small-text {
  font-size: $font_size_1_2;
  line-height: $line_height_1_8;
}

a {
  text-decoration: none;
  color: $color_gray_66768d;
}
