// Screen sizes
$screen-sm: 375px;
$screen-md: 768px;
$screen-lg: 1366px;
$screen-xl: 1600px;

// Navbar size
$navbar-tight: 900px;
$navbar-spread: 1050px;

// Font Family
$font_family: "Nunito", sans-serif;

// Font Weights
$font_ultra_light: 200;
$font_regular: 300;
$font_medium: 400;
$font_semi_bold: 600;
$font_bold: 700;
$font_extra_bold: 800;

// Font Sizes
$font_size_1_2: 1.2rem;
$font_size_1_6: 1.6rem;
$font_size_2_0: 2rem;
$font_size_2_4: 2.4rem;
$font_size_3_2: 3.2rem;
$font_size_4_0: 4rem;
$font_size_6_4: 6.4rem;

// Line Heights
$line_height_1_8: 1.8rem;
$line_height_2_2: 2.2rem;
$line_height_2_4: 2.4rem;
$line_height_2_8: 2.8rem;
$line_height_3_8: 3.8rem;
$line_height_4_8: 4.8rem;
$line_height_7_7: 7.7rem;

// Border Radius
$border_radius_0_4: 0.4rem;
$border_radius_0_7: 0.7rem;
$border_radius_0_8: 0.8rem;
$border_radius_1_6: 1.6rem;
$border_radius_2_4: 2.4rem;
$border_radius_3_2: 3.2rem;
$border_radius_4_0: 4rem;
$border_radius_4_8: 4.8rem;

// Spacing
$spacing_0_2: 0.2rem;
$spacing_0_4: 0.4rem;
$spacing_0_5: 0.5rem;
$spacing_0_6: 0.6rem;
$spacing_0_7: 0.7rem;
$spacing_0_8: 0.8rem;
$spacing_0_9: 0.9rem;
$spacing_1_0: 1rem;
$spacing_1_1: 1.1rem;
$spacing_1_2: 1.2rem;
$spacing_1_3: 1.3rem;
$spacing_1_5: 1.5rem;
$spacing_1_6: 1.6rem;
$spacing_1_7: 1.7rem;
$spacing_1_8: 1.8rem;
$spacing_2_0: 2rem;
$spacing_2_2: 2.2rem;
$spacing_2_4: 2.4rem;
$spacing_2_5: 2.5rem;
$spacing_2_8: 2.8rem;
$spacing_3_0: 3rem;
$spacing_3_2: 3.2rem;
$spacing_3_3: 3.3rem;
$spacing_3_4: 3.4rem;
$spacing_3_6: 3.6rem;
$spacing_4_0: 4rem;
$spacing_4_4: 4.4rem;
$spacing_4_6: 4.6rem;
$spacing_4_8: 4.8rem;
$spacing_5_0: 5rem;
$spacing_5_2: 5.2rem;
$spacing_5_4: 5.4rem;
$spacing_5_6: 5.6rem;
$spacing_6_0: 6rem;
$spacing_6_4: 6.4rem;
$spacing_6_5: 6.5rem;
$spacing_6_6: 6.6rem;
$spacing_6_8: 6.8rem;
$spacing_7_0: 7rem;
$spacing_7_2: 7.2rem;
$spacing_8_0: 8rem;
$spacing_9_0: 9rem;
$spacing_9_6: 9.6rem;
$spacing_10_0: 10rem;
$spacing_11_5: 11.5rem;
$spacing_12_0: 12rem;
$spacing_12_8: 12.8rem;
$spacing_14_6: 14.6rem;
$spacing_15_3: 15.3rem;
$spacing_15_6: 15.6rem;
$spacing_16_0: 16rem;
$spacing_20_0: 20rem;
$spacing_23_0: 23rem;
$spacing_24_0: 24rem;
$spacing_30_7: 30.7rem;
$spacing_40_3: 40.3rem;

// Colors
$color_primary_20809e: #20809e;
$color_primary_pressed_156f8c: #156f8c;
$color_primary_pressed_0c5f7a: #0c5f7a;

$color_secondary_9749fa: #9749fa;
$color_secondary_pressed_7f2ee5: #7f2ee5;
$color_secondary_pressed_6c16d9: #6c16d9;

$color_black_00: #000000;
$color_black_37: #373737;

$color_white_ff: #ffffff;

$color_transparent: rgba(0, 0, 0, 0);

$color_gray_ea: #eaeaea;
$color_gray_92989b: #92989b;
$color_gray_a6b4b8: #a6b4b8;
$color_gray_66768d: #66768d;

$color_green_54cfd9: #54cfd9;
$color_green_c1eaea: #c1eaea;
$color_green_f4f7fe: #f4f7fe;
$color_green_e6f1f4: #e6f1f4;

$color_purple_dac3f6: #dac3f6;
$color_purple_c39af9: #c39af9;

$color_blue_2a54bc: #2a54bc;
$color_blue_3d527b: #3d527b;

$color_red_eb5757: #eb5757;
$color_red_cc4c4c: #cc4c4c;
$color_red_a63d3d: #a63d3d;
$color_red_ed5657: #ed5657;

$color_green_7ec680: #7ec680;

// Gradients
$gradient_primary: linear-gradient(
  80.08deg,
  #20809e -27.58%,
  rgba(32, 128, 158, 0.23) 60.24%,
  #20809e 133.62%
);
$gradient_secondary: linear-gradient(
  270deg,
  #0daeb2 1.31%,
  #d6d2ff 42.92%,
  #814afd 93.14%
);

$gradient_block: linear-gradient(
  90.14deg,
  rgba(13, 174, 178, 0.2) -0.27%,
  rgba(214, 210, 255, 0.0846922) 57.25%,
  rgba(129, 74, 253, 0.2) 99.5%
);

$gradient_secondary_0_1_opacity: linear-gradient(
  270deg,
  rgba(13, 174, 178, 0.1) 1.31%,
  rgba(214, 210, 255, 0.1) 42.92%,
  rgba(129, 74, 253, 0.1) 93.14%
);

$gradient_secondary_0_3_opacity: linear-gradient(
  270deg,
  rgba(13, 174, 178, 0.4) 1.31%,
  rgba(214, 210, 255, 0.4) 42.92%,
  rgba(129, 74, 253, 0.2) 93.14%
);

$radial_gradient_purple: radial-gradient(
  50% 50% at 50% 50%,
  rgba(129, 74, 253, 0.3) 0%,
  rgba(129, 74, 253, 0) 100%
);

$radial_gradient_blue: radial-gradient(
  50% 50% at 50% 50%,
  rgba(84, 207, 217, 0.3) 0%,
  rgba(84, 207, 217, 0) 100%
);

$gradient_transparent: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  #ffffff 100%
);

// Shadows
$shadow_1: 2px 2px 12px rgba(104, 77, 253, 0.1);
$shadow_2: 0px 2px 18px rgba(104, 77, 253, 0.2);
$shadow_3: 0px 2px 24px rgba(104, 77, 253, 0.3);
$shadow_4: 3px 4px 5px rgba(104, 77, 253, 0.06);

// Z-indexes
$z_index_negative: -1;
$z_index_1: 1;
$z_index_2: 2;
$z_index_backdrop: 98;
$z_index_navbar: 99;
$z_index_emergency_button: 99;

// Overlays
$overlay_66768D: rgba(102, 118, 141, 0.5);

// Filters
$filter_red_cc4c4c: brightness(0) saturate(100%) invert(34%) sepia(20%)
  saturate(5420%) hue-rotate(336deg) brightness(96%) contrast(69%);
$filter_red_a63d3d: brightness(0) saturate(100%) invert(34%) sepia(16%)
  saturate(3193%) hue-rotate(320deg) brightness(87%) contrast(85%);
