@import "../../../styles/theme";

.card {
  background-color: $color_white_ff;
  display: flex;

  border-radius: $border_radius_2_4;
  box-shadow: $shadow_1;

  img {
    width: 100%;
    height: 100%;
  }

  &--content {
    padding-top: 1.6rem;
    margin: 0 1.6rem 0 1.6rem;

    .tags {
      display: flex;
      flex-wrap: wrap;

      .btn {
        &:not(:last-child) {
          margin-right: 0.8rem;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: row;
      padding-top: 1rem;
      color: $color_gray_66768d;

      .icon {
        margin-right: 0.5rem;
        margin-left: 1.6rem;
      }
    }

    h3 {
      padding-top: 2.4rem;
    }

    h4 {
      padding-top: 0.9rem;
    }

    #description {
      color: $color_gray_66768d;
      padding-top: 1.5rem;
    }

    #btn--read-more {
      margin: 1.9rem 0 1.6rem 0;
    }
  }

  &--portrait {
    flex-direction: column;
    width: 34.3rem;
    min-height: 40.2rem;

    .image {
      width: 34.3rem;
      height: 24rem;
      img {
        border-radius: $border_radius_2_4 $border_radius_2_4 0 0;
      }
    }

    &.card--lg {
      width: 55.9rem;
      height: 43.6rem;

      .image {
        width: 55.9rem;
        height: 27.4rem;
      }
    }
  }

  &--landscape {
    flex-direction: row;

    width: 55.2rem;
    min-height: 12.8rem;

    .image {
      width: 20rem;
      height: 12.8rem;
      img {
        border-radius: $border_radius_2_4;
      }
    }

    & .card--content {
      padding-top: 0.9rem;

      #btn--read-more {
        margin: 0.8rem 0 0.8rem 0;
      }
    }

    @media screen and (min-width: $screen-md) {
      &.card--lg {
        width: 113.6rem;
        height: 40rem;

        .image {
          @media screen and (min-width: $screen-md) {
            width: 48rem;
            height: 40rem;
          }

          img {
            @media screen and (min-width: $screen-md) {
              border-radius: $border_radius_4_8 0 0 $border_radius_4_8;
            }
          }
        }
        & .card--content {
          @media screen and (min-width: $screen-md) {
            padding-top: 3.3rem;

            #description {
              padding-top: 2.4rem;
            }
          }
        }
      }
    }
  }
}
