@import "../../../styles/theme";

.label-component {
  border: 0.1rem solid $color_primary_20809e;
  border-radius: $border_radius_1_6;
  padding: $spacing_0_4 $spacing_1_6;
  width: fit-content;
  text-align: center;
  justify-content: center;
  color: $color_primary_20809e;
}
