@import "../../../styles/theme";

.pin-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__input {
    max-width: 3rem;
    border-radius: 2rem;
    min-height: 1rem;
    padding: 1rem;
    color: #5f549b;
    font-size: $font_size_3_2;
    border: 0.1rem solid transparent;
    box-shadow: $shadow_1;
    border-radius: $border_radius_1_6;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    text-align: center;

    &:focus,
    &:active {
      outline: none;
      border: 0.1rem solid #5f549b;
    }
    &--dark {
      background-color: $color_black_31;
    }
  }
}
