@import "../../../styles/theme";
@import "../../../styles/theme";

.input-group {
  text-align: left;
  max-width: 36.8rem;

  &__inputs-list {
    &__single {
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $screen_md) {
        display: block;
        position: relative;
      }

      &__remove-button {
        align-self: flex-start;
        margin-top: $spacing_1_8;
        min-width: unset;

        @media screen and (min-width: $screen_md) {
          position: absolute;
          top: 0;
          margin-top: $spacing_3_0;
          right: -10rem;
        }

        @media screen and (min-width: $screen_lg) {
          right: -12rem;
        }
      }
    }
  }

  &__add-more {
    display: flex;
    align-items: center;
    margin-top: $spacing_1_6;
    cursor: pointer;

    & .small-text {
      font-weight: $font_bold;
      line-height: $line_height_2_4;
      color: $color_secondary_9749fa;
      padding-left: $spacing_1_8;
    }
  }

  & .error-message {
    margin-left: $spacing_1_6;
    margin-top: $spacing_1_8;
  }
}
