@import "../../../styles/theme";

.answer {
  padding: $spacing_2_0 $spacing_1_6;
  max-width: 75.1rem;
  width: 90%;

  @media screen and (min-width: $screen-lg) {
    width: 100%;
  }

  &__heading-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-items: center;

    &__question-text {
      margin-top: $spacing_0_8;
    }
  }

  &__labels-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: "row";
    margin-top: $spacing_1_2;

    > .label-component {
      margin: $spacing_0_2;
    }
  }

  > .text {
    text-align: left;
  }

  &__read-more-button {
    margin-top: $spacing_1_2;
  }

  &__bottom-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: $spacing_1_6;
    }

    &__archive-button {
      margin-top: $spacing_0_8;

      @media screen and (min-width: $screen-md) {
        margin-top: 0;
      }
    }
  }

  &__answered-by-container {
    display: flex;
    flex-direction: "row";
    margin-top: $spacing_0_4;

    &__avatar {
      margin: 0 $spacing_0_4;
    }
  }

  &__schedule-button {
    margin-top: $spacing_2_6;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }

    > .text {
      margin-left: $spacing_1_4;
      color: $color_primary_20809e;
    }
  }

  &__respond-button {
    margin-top: $spacing_1_2;
  }

  &__date-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__text {
      margin-left: $spacing_0_4;
      color: $color_gray_92989b;
    }
  }

  &__question-heading {
    margin-top: $spacing_0_8;
  }

  &__line {
    margin-top: $spacing_1_2;
    margin-bottom: $spacing_1_2;
  }

  &__heading-and-labels-container {
    text-align: left;
    margin-bottom: $spacing_0_8;
  }

  &__provider-heading-text {
    text-align: left;
    margin-bottom: $spacing_0_8;
  }

  &__margin-bottom-1-2 {
    margin-bottom: $spacing_1_2;
  }

  &__read-more-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__limited-text {
    text-overflow: ellipsis; /* With this the name gets clipped with dots(...) at the end, without it the overflow is scroll */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
  }
}
