@import "../../../styles/theme";

.tabs {
  display: flex;
  flex-direction: "row";
  align-items: center;

  .tab {
    padding: $spacing_0_4 $spacing_2_4;
    cursor: pointer;
    background-color: $color_green_f4f7fe;
    border-radius: $border_radius_4_0;
    margin: 0 $spacing_0_4;
    color: $color_black_37;
    border: 1px solid transparent;

    &--selected {
      background-color: $color_white_ff;
      border: 1px solid $color_secondary_9749fa;
    }

    &--inactive {
      cursor: normal;
      opacity: 0.2;
      cursor: default;
    }
  }

  .show-more__text {
    color: $color_primary_20809e;
    cursor: pointer;
    text-decoration: underline;
    padding-left: $spacing_0_8;
    white-space: nowrap;

    &--selected {
      color: $color_secondary_pressed_6c16d9;
      font-weight: $font_semi_bold;
    }
  }
}

.show-more {
  margin: $spacing_0_8 0 $spacing_0_8 $spacing_1_6;
  padding: $spacing_0_8 0;
  width: 34.3rem;
  border: 0.1rem solid rgba(217, 217, 217, 0.63);
  position: absolute;
  right: 0;

  &__options {
    padding: $spacing_0_8 $spacing_1_6;
    overflow-y: auto;
    margin-right: $spacing_1_6;
    max-height: 22rem;

    .option {
      padding: $spacing_0_8;
      cursor: pointer;

      &--selected {
        color: $color_secondary_9749fa;
      }

      &--inactive {
        opacity: 0.2;
        cursor: default;
      }
    }

    @include scrollbar;
  }
}
