@import "../../../styles/theme";

.nav {
  min-width: $screen-sm;
  background: $color_white_ff;
  box-shadow: $shadow_1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: fixed;
  top: 0;
  z-index: $z_index_navbar;
  transition: height 0.6s;
  width: 100%;
  height: 4.6rem;
  padding-top: $spacing_2_0;
  cursor: default;

  @media screen and (min-width: $navbar-tight) {
    padding: $spacing_1_6 0;
    align-items: center;
    height: auto;
  }

  &__clickable-area {
    flex: 1 1;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__toggler {
    margin: $spacing_0_4 0 0 $spacing_1_6;

    @media screen and (min-width: $navbar-tight) {
      display: none;
    }
  }

  &__logo {
    display: none;
    cursor: pointer;

    @media screen and (min-width: $navbar-tight) {
      display: block;
      height: 3.8rem;
      width: 14.1rem;
      padding-left: $spacing_2_4;
    }

    @media screen and (min-width: $navbar-spread) {
      height: 4.8rem;
      width: 17.8rem;
    }
  }

  &__login {
    margin-right: $spacing_1_6;
  }

  &.collapsible--expanded {
    height: 100%;
  }

  &__list {
    width: 100%;
    padding: $spacing_4_0 0 0 $spacing_1_6;

    @media screen and (min-width: $navbar-tight) {
      width: auto;
      padding: 0;
      display: flex;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    cursor: pointer;

    @media screen and (min-width: $navbar-tight) {
      padding: 0 1.2rem 0 0;
    }

    @media screen and (min-width: $navbar-spread) {
      padding: 0 3.2rem 0 0;
    }

    & p {
      text-align: left;
      margin-bottom: $spacing_2_4;
      padding: 0 $spacing_0_8 $spacing_0_4 0;
      position: relative;

      @media screen and (min-width: $navbar-tight) {
        text-align: center;
        padding: 0 $spacing_0_4 0 $spacing_0_4;
        margin-bottom: 0;
      }

      &::after {
        border-bottom: 2px solid $color_primary_20809e;
        bottom: -$spacing_0_2;
        content: "";
        padding-top: 12px;
        position: absolute;
        left: 0;
        transition: width 0.3s;
        width: 0%;
      }
    }

    &:hover p {
      color: $color_primary_20809e;
      &::after {
        width: 100%;
      }
    }
  }

  &__item--current p {
    color: $color_primary_20809e;

    &::after {
      border-bottom: 2px solid $color_primary_20809e;
      bottom: -$spacing_0_2;
      content: "";
      padding-top: 12px;
      position: absolute;
      left: 0;
      transition: width 0.3s;
      width: 100%;
    }
  }

  &__globe,
  &__country {
    display: flex;
    align-items: center;

    p {
      padding: 0 $spacing_0_6;
      margin: 0;

      @media screen and (min-width: $navbar-tight) {
        padding: 0;
      }
    }

    & > .icon--arrow-chevron-down {
      margin-left: $spacing_1_0;
      transition: transform 0.3s ease-in-out;
    }

    &--expanded {
      & > .icon--arrow-chevron-down {
        transform: rotate(180deg);
      }
    }
  }

  &__current-language {
    text-transform: uppercase;
    font-weight: $font_bold;
    color: $color_primary_20809e;

    & > p {
      margin-bottom: $spacing_2_4;
    }
  }

  &__languages,
  &__countries {
    position: fixed;
    z-index: $z_index_emergency_button;
    left: 1rem;
    top: 40rem;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    @media screen and (min-width: $navbar-tight) {
      top: 7.5rem;
      right: 7rem;
      left: auto;
    }

    @media screen and (min-width: $navbar-spread) {
      top: 8.5rem;
      right: 10rem;
    }

    @media screen and (min-width: $screen-lg) {
      right: 13rem;
    }

    &--shown {
      opacity: 1;
    }

    &--mobile {
      margin-bottom: $spacing_2_4;

      & > .nav__current-language {
        padding: 0;
      }
    }

    &__content {
      position: relative;
      padding: $spacing_1_8;
      max-height: 0;
      transition: max-height 0.4s ease-in-out;
      overflow-y: auto;
      @include scrollbar-secondary;

      &--shown {
        height: 16rem;
        max-height: 16rem;

        @media screen and (min-width: $navbar-tight) {
          height: 20rem;
          max-height: 20rem;
        }
      }
    }
  }

  &__languages {
    width: 16rem;

    @media screen and (min-width: $navbar-tight) {
      top: 7.5rem;
      right: 14rem;
      left: auto;
    }

    @media screen and (min-width: $navbar-spread) {
      top: 8.5rem;
      right: 18rem;
    }

    @media screen and (min-width: $screen-lg) {
      right: 22rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    padding-right: $spacing_2_4;

    & > .paragraph {
      cursor: pointer;
    }

    &__notification-icon {
      margin-right: $spacing_2_4;
      cursor: pointer;
    }

    &__image {
      border-radius: 50%;
      cursor: pointer;
      height: 3.2rem;
      margin-right: $spacing_0_8;
      width: 3.2rem;
      object-fit: cover;
    }

    &__text-active {
      color: $color_primary_20809e;
    }
  }

  &__profile--mobile {
    display: none;

    &--shown {
      display: block;
      position: absolute;
      bottom: 10%;
      padding-left: $spacing_1_8;
    }
  }

  &__dropdown-content {
    @media screen and (min-width: $navbar-tight) {
      padding-top: $spacing_2_4;
    }

    &__lang {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;

      &-label--selected {
        font-weight: $font_bold;
        text-decoration: underline;
        color: $color_primary_20809e;
      }

      &:not(:first-of-type) {
        padding-top: $spacing_0_8;
      }

      & > .icon {
        margin-right: $spacing_1_0;
      }
    }

    &__country {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;

      &:not(:first-of-type) {
        padding-top: $spacing_0_8;
      }

      & > .icon {
        margin-right: $spacing_1_0;
      }
    }
  }
}
