@import "../../../styles/theme";

.avatar {
  object-fit: cover;
  border-radius: $border_radius_0_8;

  &--circle {
    border-radius: $border_radius_4_8;
  }

  &--border {
    border: 0.2rem solid #ff9632;
  }

  &--xs {
    width: 2.6rem;
    height: 2.6rem;
  }
  &--sm {
    min-width: 5.6rem;
    max-width: 5.6rem;
    height: 5.6rem;
  }

  &--md {
    width: 8rem;
    height: 8rem;
  }

  &--lg {
    width: 10.4rem;
    height: 10.4rem;
  }
}
