@import "../../../styles/theme";

.avatar {
  border-radius: $border_radius_4_8;

  &--sm {
    width: 5.6rem;
    height: 5.6rem;
  }

  &--md {
    width: 8rem;
    height: 8rem;
  }

  &--lg {
    width: 10.4rem;
    height: 10.4rem;
  }
}
