@import "../../../styles/theme";

.card-provider-small {
  align-items: flex-start;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  padding: $spacing_2_4;
  @include themify($themes, "background-color", "color_white_ff");

  & > img {
    border-radius: $border_radius_2_4;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }

  &__information {
    padding-left: $spacing_1_6;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: $spacing_0_4;

    & > h4,
    & > p {
      word-break: break-word;
    }
  }
}
