@import "../../../styles/theme";

.client-activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: row;

    &__icon {
      margin-right: $spacing_1_6;
    }
  }
}
