@import "../../../styles/theme";

.consultation-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $spacing_1_6;

  &__content {
    margin-left: 1.6rem;

    &__details {
      display: flex;
      align-items: center;

      &__name {
        color: $color_primary_20809e;
        margin-right: 1.6rem;
      }

      &__status {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background-color: red;

        &--active {
          background-color: $color_green_7ec680;
        }
      }
    }

    &__date-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: $spacing_0_4;

      &__text-container {
        margin-left: $spacing_0_6;
      }
    }
  }
}
