@import "../../../styles/theme";

.consultation-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: $spacing_1_6;

  &__content {
    margin-left: 1.6rem;

    &__name-text {
      color: $color_primary_20809e;
    }

    &__date-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: $spacing_0_4;

      &__text-container {
        margin-left: $spacing_0_6;
      }
    }
  }
}
