@import "../../../styles/theme";

.provider-availability {
  align-items: center;
  border-radius: $border_radius_0_4;
  border: 1.5px solid transparent;
  box-shadow: $shadow_1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 3.5rem;
  max-width: 10rem;
  height: 4rem;

  @media screen and (min-width: $screen-md) {
    height: 6.8rem;
    min-width: 4rem;
  }

  @media screen and (min-width: 1200px) {
    padding: $spacing_2_4 $spacing_1_6;
    width: calc(14.45rem - 2 * $spacing_1_6);
    height: unset;
  }

  &__available-text {
    visibility: hidden;
  }

  &:hover {
    .provider-availability__available-text {
      visibility: visible;
      overflow: hidden;
      text-overflow: ellipsis;

      &.small-text {
        font-size: 10px;

        @media screen and (min-width: $screen-md) {
          font-size: 12px;
        }
      }
    }
  }

  &__badge-container {
    position: absolute;
    top: calc(-1.8rem / 4);
    left: calc(-1.8rem / 4);

    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      top: calc(-3rem / 4);
      left: calc(-3rem / 4);
    }
  }

  &__sponsor-badge {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;

    &:nth-child(2) {
      margin-top: 1rem;
    }

    @media screen and (min-width: 1200px) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__sponsor-image {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;

    @media screen and (min-width: 1200px) {
      margin-right: $spacing_0_8;
    }

    @media screen and (min-width: $screen-lg) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &--campaign {
    background-color: $color_green_c1eaea;
  }

  &--available {
    background-color: $color_green_c1eaea;

    & > p {
      color: $color_blue_3d527b;
    }

    &--active,
    &:hover,
    &:active {
      border-color: $color_primary_pressed_0c5f7a;
      box-shadow: $shadow_3;

      .provider-availability__available-text {
        visibility: visible;
      }
    }
  }

  &--unavailable {
    background-color: $color_gray_ea;

    &--active {
      border-color: $color_secondary_9749fa;

      .provider-availability__available-text {
        visibility: visible;
      }
    }
  }

  &--booked {
    background-color: $color_white_ff;
    border-color: $color_green_c1eaea;

    &--active,
    &:hover,
    &:active {
      border-color: $color_primary_pressed_0c5f7a;
      box-shadow: $shadow_3;
    }
  }

  &--coupon {
    background-color: $color_white_ff;
    border-color: $color_green_c1eaea;

    &--active,
    &:hover,
    &:active {
      border-color: $color_primary_pressed_0c5f7a;
      box-shadow: $shadow_3;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      & .provider-availability__available-text {
        visibility: hidden !important;
      }

      border-color: transparent !important;
      box-shadow: unset !important;
    }
  }

  &__image {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;

    @media screen and (min-width: $screen-lg) {
      margin-right: $spacing_0_8;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__price {
      padding: $spacing_0_4;
      border-radius: $border_radius_1_6;
      word-break: break-all;
      max-height: 95%;

      @media screen and (min-width: 550px) {
        padding: $spacing_0_4;
      }
      @media screen and (min-width: $screen-md) {
        padding: $spacing_0_4 $spacing_0_8;
      }

      &__text.small-text {
        font-size: 0.8rem;
        line-height: 0.8rem;
        word-break: normal;

        @media screen and (min-width: 550px) {
          font-size: 1rem;
          line-height: 1.4rem;
        }
        @media screen and (min-width: $screen-md) {
          font-size: 1.2rem;
          line-height: 1.8rem;
        }
      }

      &--free {
        background-color: $color_green_c1eaea;
        color: $color_blue_3d527b;
      }

      &--paid {
        background-color: $color_purple_c39af9_0_5;
        color: $color_secondary_9749fa;
      }

      &--coupon {
        background-color: $color_green_c1eaea;
        color: $color_blue_3d527b;
      }
    }

    &__campaign-name {
      text-align: left;
      margin-left: 1.8rem;

      & strong {
        text-overflow: ellipsis; /* With this the name gets clipped with dots(...) at the end, without it the overflow is scroll */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  & > p {
    color: $color_blue_3d527b;
  }

  &__name.small-text {
    margin-top: $spacing_0_4;
    font-size: 1rem;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis; /* With this the name gets clipped with dots(...) at the end, without it the overflow is scroll */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @media screen and (min-width: 1200px) {
      font-weight: $font_semi_bold;
    }
  }

  &__indicator-container {
    display: flex;
    align-items: center;
    padding-bottom: $spacing_2_4;
  }

  &__circle-indicator {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: $spacing_0_8;

    &--active {
      background-color: $color_green_7ec680;
    }

    &--inactive {
      background-color: $color_red_ed5657;
    }
  }

  &__icon-container {
    position: absolute;
    top: $spacing_0_4;
    right: 0;
    & > .icon {
      cursor: pointer;
    }
  }

  &__controls {
    align-items: center;
    background-color: $color_white_ff;
    border-radius: $border_radius_0_8;
    border: 1px solid $color_primary_20809e;
    // bottom: -5rem;
    box-shadow: $shadow_2;
    display: flex;
    flex-direction: column;
    height: 9.4rem;
    justify-content: center;
    left: calc(50% - calc(calc(19rem - 2 * $spacing_1_6)) / 2);
    padding: $spacing_1_6;
    position: absolute;
    width: calc(19rem - 2 * $spacing_1_6);
    height: auto;
    z-index: 100;

    &__campaign,
    &__organization {
      max-height: 30rem;
      overflow-x: auto;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
    }

    &__organization {
      border-top: 1px solid $color_gray_344054;
      padding-top: 1.2rem;
      margin-top: 1.2rem;
    }

    &__right-0 {
      left: unset;
      right: 0;
    }

    &__left-0 {
      left: 0;
    }

    @media screen and (min-width: $screen-lg) {
      left: calc(50% - calc(calc(22rem - 2 * $spacing_1_6)) / 2);
    }

    &__single {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      width: 100%;

      &__image {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        margin-right: $spacing_0_8;
      }

      & > p {
        color: $color_gray_344054;
        text-decoration: underline;
        flex: 0.8;
      }

      &:not(:last-of-type) {
        margin-bottom: $spacing_2_4;
      }

      & .icon {
        margin-right: $spacing_0_8;
      }

      &--campaign,
      &--organization {
        & > p {
          color: $color_blue_3d527b;
          text-decoration: none;
          text-align: left;
          padding-right: $spacing_0_4;
        }

        &__icon {
          margin-left: auto;
        }
      }
    }

    &__join-button {
      margin-top: $spacing_2_4;
    }
  }

  &--live {
    border-color: $color_secondary_9749fa;
    .provider-availability__controls {
      height: 12rem;
      border-color: $color_secondary_9749fa;
      bottom: -16rem;
    }
  }

  &__suggested-label {
    margin: 0 auto;
    color: $color_blue_2a54bc;
  }
}
