@import "../../../styles/theme";

.contact-form {
  display: flex;
  flex-direction: column;
  gap: $spacing_2_4;

  &__email-input {
    padding-top: $spacing_1_6;

    @media screen and (min-width: $screen-lg) {
      padding-top: $spacing_2_4;
    }
  }

  &__subject,
  &__message {
    padding-top: $spacing_2_4;
  }

  &__reply-time {
    color: $color_blue_3d527b;
    padding-top: $spacing_1_2;
  }

  &__success-heading {
    padding-top: $spacing_3_2;
  }
}
