@import "../../../styles/theme";

.terms-agreement {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: 100%;

  & > .checkbox-wrapper {
    margin-top: $spacing_0_2;
  }

  & > .text {
    margin-left: $spacing_0_8;
    font-weight: $font_medium;
    width: 100%;

    & .privacy-policy-link {
      color: $color_secondary_9749fa;
      cursor: pointer;

      &--hc {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}
