@import "../../../styles/variables";

.baseline-assesment-box {
  width: 30rem;
  padding: $spacing_2_0 $spacing_1_6;
  display: flex;
  flex-direction: column;
  position: relative;

  & .status-badge {
    position: absolute;
    top: -$spacing_1_6;
    right: -$spacing_1_4;
  }

  & .btn {
    margin-top: $spacing_1_2;
  }
}
