@import "../../../styles/theme";

.radio-button-selector {
  cursor: pointer;
  padding: $spacing_1_2 $spacing_1_6;
  border-radius: $border_radius_1_2;
  border: 0.1rem solid #cdd8e1;

  &--disabled {
    opacity: 0.4;
  }

  &--selected {
    border: 0.1rem solid $color_secondary_9749fa;
  }

  &:hover:not(&--disabled) {
    border: 0.1rem solid $color_secondary_9749fa;
  }

  &--sm {
    width: calc(31.1rem - 2 * $spacing_1_6);
  }

  &--lg {
    width: calc(34.3rem - 2 * $spacing_1_6);
  }
  @media screen and (min-width: $screen_lg) {
    &--lg {
      width: calc(36.8rem - 2 * $spacing_1_6);
    }
  }

  &--hc-selected {
    border: 1px solid #ffff00;
  }
}
