@import "../../../styles/theme";

.radio-button-selector {
  cursor: pointer;
  padding: $spacing_1_2 $spacing_1_6;

  &--disabled {
    opacity: 0.4;
  }

  &--sm {
    width: calc(31.1rem - 2 * $spacing_1_6);
  }

  &--lg {
    width: calc(34.3rem - 2 * $spacing_1_6);
  }
  @media screen and (min-width: $screen_lg) {
    &--lg {
      width: calc(36.8rem - 2 * $spacing_1_6);
    }
  }
}
