@import "../../../styles/theme";

.status-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 4px;
  margin-right: auto;
  padding: 2px 12px;
  align-self: flex-start;

  &__label {
    color: $color_white_ff !important;
    font-size: 12px;
    text-align: center;
  }

  &--active {
    background-color: $color_green_7ec680;

    & p {
      color: $color_white_ff !important;
    }
  }

  &--inactive {
    background-color: $color_red_eb5757;
  }

  &--in-progress {
    background-color: $color_green_7ec680;

    & p {
      color: $color_white_ff !important;
    }
  }
}

.status-badge__box {
  padding: 16px;
  width: fit-content;
}
