@import "../../../styles/theme";

.status-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $spacing_1_2;
  margin-top: $spacing_0_4;
  margin-right: auto;
  padding: $spacing_0_4 $spacing_1_2;

  &__label {
    color: $color_white_ff !important;
  }

  &--active {
    background-color: $color_green_7ec680;

    & p {
      color: $color_white_ff !important;
    }
  }

  &--inactive {
    background-color: $color_red_eb5757;
  }
}
