.date-input {
  & input {
    text-transform: uppercase;

    &[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
    &:not(.has-value):before {
      color: lightgray;
    }
  }

  &-placeholder {
    position: absolute;
    top: 50%;
    left: 2.8rem;
    cursor: pointer;
    z-index: 2;
  }
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

input[type="date"] {
  color: transparent !important;
}
