@import "../../../styles/theme";

.tabs-underlined-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  .tab {
    padding: $spacing_1_2 $spacing_1_2;
    margin: 0 $spacing_0_8;
    border-bottom: 0.2rem solid transparent;
    cursor: pointer;
    white-space: nowrap;
    
    @media screen and (min-width: $screen-sm) {
      width: 20%;
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;
    }

    @media screen and (min-width: 375px) {
      flex: 1;
      width: auto;
    }

    .label {
      font-weight: $font_medium;
      font-size: 18px;
      @include themify($themes, "color", "color_input_text");
    }

    &:not(.tab--selected) {
      h1,
      h2,
      h3,
      h4 {
        @include themify($themes, "color", "color_input_text");
        font-weight: $font_medium;
      }
    }
    

    &--selected {
      border-bottom: 0.2rem solid $color_primary_20809e;
      @include themify($themes, "border-color", "color_6a4ffb_8c90eb");
    }

    &--hc.tab--selected {
      border-bottom: 0.4rem solid yellow;

      h1,
      h2,
      h3,
      h4 {
        color: yellow !important;
        font-weight: $font_bold;
      }
    }
  }
}
