@import "../../../styles/theme";

.message {
  padding: $spacing_1_6 $spacing_2_4;
  max-width: calc(46.4rem - 2 * $spacing_2_4);
  border-radius: $border_radius_2_4;
  text-align: left;
  content-visibility: auto;
  display: flex;

  @media screen and (max-width: $screen_md) {
    max-width: 28rem;
  }

  &__text {
    color: $color_black_37;
  }

  &__date {
    color: $color_gray_66768d;
    text-align: left;
    align-self: flex-end;
    padding-left: 0.6rem;

    &--sent {
      text-align: right;
    }
  }

  &-sent {
    background-color: $color_green_54cfd9;
  }

  &-received {
    background-color: $color_green_e6f1f4;
  }
}
