@import "../../../styles/theme";

.block-not-found {
  padding-top: $spacing_3_2;
  padding-bottom: $spacing_12_0;
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: left;

  @media screen and (min-width: $screen_md) {
    padding-top: $spacing_16_0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    @media screen and (min-width: $screen_md) {
      padding-top: $spacing_4_0;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .sub-heading {
      margin-top: $spacing_2_4;
      color: $color_gray_66768d;
    }

    > Button {
      margin-top: $spacing_4_0;
      max-width: 3.7rem;
    }
  }

  &__mascot-item {
    @media screen and (min-width: $screen_md) {
      justify-self: end;
    }

    > img {
      width: 25rem;
      margin-top: $spacing_10_0;

      @media screen and (min-width: $screen_md) {
        width: 30rem;
        margin-top: 0;
      }

      @media screen and (min-width: $screen_lg) {
        width: 40rem;
      }
    }
  }
}
