@import "../../styles/helpers";

.hh-info-card {
  display: flex;
  flex-direction: column;
  gap: $spacing_1_0;
  height: 100%;

  &__title {
    font-size: var(--hh-font-size-subtitle);
    font-weight: $font_semi_bold;
  }

  &__text {
    font-size: var(--hh-font-size-body);
    line-height: 1.5;
    color: var(--hh-color-text-muted);
  }
}
