@import "../../../styles/theme";

.consultation {
  padding: $spacing_1_6;
  align-items: center;
  width: calc(34.3rem - 2 * $spacing_1_6);
  text-align: left;
  position: relative;

  @media screen and (min-width: $screen_lg) {
    width: calc(36.8rem - 2 * $spacing_1_6);
  }

  &--purple {
    color: $color_secondary_9749fa;
    border: 0.1rem solid $color_secondary_9749fa;
  }

  &__content {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__text-container {
      padding-left: $spacing_1_6;

      &__name-container {
        & > .text {
          color: $color_blue_3d527b;
          font-weight: $font_bold;
          word-break: break-word;
        }
        & > .text--purple {
          color: $color_secondary_9749fa;
        }
      }

      &__date-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__text {
          display: flex;
          flex-direction: column;
          margin-left: $spacing_0_6;
        }
      }
    }
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $spacing_0_8;

    &__now-text {
      position: absolute;
      left: $spacing_3_0;
      color: $color_secondary_9749fa;
      font-weight: $font_bold;
    }
  }

  &__request-container {
    display: flex;
    flex-direction: "row";
    justify-content: space-between;
    padding-top: $spacing_0_8;
  }

  &__menu {
    border: 0.1rem solid $color_primary_20809e;
    display: flex;
    flex-direction: column;
    padding: $spacing_1_6;
    width: calc(19rem - 2 * $spacing_1_6);
    border-radius: $border_radius_1_6;
    background-color: $color_white_ff;
    position: absolute;
    right: 2.5%;
    top: 4rem;
    z-index: $z_index_2;

    &-live {
      border: 0.1rem solid $color_secondary_9749fa;
    }

    &__option {
      display: flex;
      flex-direction: row;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: $spacing_2_2;
      }

      &__icon {
        margin-right: $spacing_1_0;
      }
    }
  }
}
