@import "../../../styles/theme";

.collapsible-faq {
  text-align: left;

  .faq-header {
    @include themify($themes, "color", "color_3d527b_20809e");
  }

  &.collapsible--expanded {
    .faq-header {
      color: $color_primary_20809e;
    }
  }

  .faq-text {
    @include themify($themes, "color", "color_66768d_c1d7e0");
    padding-top: $spacing_0_8;
  }
}
