@import "../../../styles/theme";

.collapsible-faq {
  text-align: left;

  .heading {
    margin-bottom: $spacing_0_8;

    .faq-header {
      color: $color_blue_3d527b;
    }
  }

  .collapsible-content {
    .faq-text {
      color: $color_gray_66768d;
    }
  }
}
