@import "../../../styles/theme";

.text-area--container {
  &--sm {
    width: 31.1rem;
  }

  &--md {
    width: 34.3rem;
  }

  @media screen and (min-width: $screen-lg) {
    &--md {
      width: 36.8rem;
    }
  }

  .label {
    margin-bottom: $spacing_0_4;
    color: $color_blue_3d527b;
  }

  .text-area {
    -webkit-appearance: none;
    appearance: none;
    border: 0.1rem solid transparent;
    border-radius: 3.2rem;
    box-shadow: $shadow_4;
    color: $color_black_37;
    padding: $spacing_1_2 $spacing_2_4;
    height: 12rem;
    resize: none;
    width: calc(100% - 2 * $spacing_2_4);

    &:disabled {
      opacity: 0.6;
    }

    &::placeholder {
      color: $color_gray_a6b4b8;
    }

    &:enabled:hover,
    &:enabled:focus {
      outline: none;
      border: 0.1rem solid $color_secondary_9749fa;
    }
  }
}
