@import "../../../styles/theme";

.mood-track-details {
  width: 100%;

  &__subheading-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $spacing_1_6;

    &__emoticon {
      margin: 0 $spacing_0_4;
    }
  }

  &__comment.text {
    text-align: left;
    margin-top: $spacing_1_6;
    color: $color_primary_20809e;
    font-weight: $font_regular;
  }

  &__critical-text {
    text-align: left;
    margin-top: $spacing_1_6;

    &.text {
      color: $color_red_eb5757;
    }
  }
}
