@import "../../../styles/theme";
.block {
  padding: $spacing_1_6;
  min-width: 37.5rem;

  @media screen and (min-width: $screen-md) {
    padding: $spacing_2_8 $spacing_2_4;
  }

  @media screen and (min-width: $screen-lg) {
    padding: $spacing_5_6 $spacing_11_5 $spacing_6_5 $spacing_11_5;
  }

  & .container {
    max-width: $screen-xl;
    min-width: $screen-sm;
    overflow: visible;
    margin: 0 auto;
  }
}
