@import "../../../styles/theme";

.radiobutton-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    margin-left: $spacing_0_8;
    color: &color_black_37;
  }

  &:hover {
    & > input:enabled {
      border: $color_secondary_9749fa 0.15rem solid;
    }
  }

  & > input:disabled + .label {
    opacity: 0.6;
    cursor: default;
  }

  & > input {
    -webkit-appearance: none;
    appearance: none;
    background-color: $color_white_ff;
    margin: 0;

    width: 2rem;
    height: 2rem;
    border: $color_gray_92989b 0.15rem solid;
    border-radius: 50%;

    display: grid;
    place-content: center;

    &.checked {
      border: 0;
      background-color: $color_white_ff;
      border: $color_secondary_9749fa 0.15rem solid;
      display: flex;
      align-items: center;
      justify-content: center;

      + .label {
        color: $color_blue_3d527b;
        @include themify($themes, "color", "color_3d527b_white");

        &--dark {
          color: $color_white_ff;
        }
      }
    }

    &.checked::before {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      background-color: $color_secondary_9749fa;
      border-radius: 50%;
    }
  }
}
